body,
h1,
h2,
ul,
li,
a,
p {
  margin: 0px;
  padding: 0px;
  font-family: "Cinzel" Arial, Helvetica, sans-serif;
  color: #dbd8e3;
}
body {
  background: #423f3e;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
* {
  box-sizing: border-box;
}
/*estilos padrão do site*/
.menu_icones a img {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 570px) {
  .menu_icones li:nth-of-type(2n + 1) {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .titulo_header:nth-of-type(2n + 1) {
    font-size: 5em;
  }
}

.imagens_perfil_menu a img {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}
.perfil img {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
/*Header*/

.titulo_header {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
  font-size: 6em;
  flex-wrap: wrap;
}
.secao_personagem ul {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}
.secao_personagem::after {
  content: "";
  display: block;
  width: 500px;
  height: 1px;
  background: #eae9ec;
  margin: 6em auto 4em auto;
}
.secao_personagem {
  margin-top: 8em;
  padding: 10px;
}
.menu_icones ul li img {
  margin: 5px;
}

/*pagina de personagens*/
.secao_conteudo {
  max-width: 960px;
  margin: 0 auto;
}
.secao_personagem {
  padding: 50px 0;
}
.imagens_perfil_menu {
  max-width: 960px;
  margin: 0 auto 2px auto;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.imagens_perfil_menu a h2 {
  font-size: 2.5em;
  margin-top: 0.5em;
  letter-spacing: 0.1em;
}
.bloco_resenha {
  background: #c4c4c4;
  max-width: 960px;
  height: 550px;
  padding: 20px;
}
